* {
    margin: 0;
    padding: 0;
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
}
/*code used to disable scroll bar in all browsers*/
@-moz-document url-prefix() { /* Disable scrollbar Firefox */
    html{
        scrollbar-width: none;
    }
}
body {
    scrollbar-width: none; /* Also needed to disable scrollbar Firefox */
    -ms-overflow-style: none;  /* Disable scrollbar IE 10+ */
    overflow-y: scroll;
}
body::-webkit-scrollbar {
    width: 0px;
    background: transparent; /* Disable scrollbar Chrome/Safari/Webkit */
}
/* css for header */
#header{
    height: 150px;
    width: 100%;
    display: block;
    text-align: center;
    font-size: 40px;
}
/* css for the game div to have a set width of the entire view box */
#game{
    width: 100%;
}
/* contain the div for game display and svg */
#holder{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 770px;
    height: 770px;
}
/* this holds the display for the game that shows the start button above the actual game */
#game #GameDisplay{
    position:absolute;
    width: 770px;
    height: 770px;
    transition: all .5s ease-in-out;
}
/* styl;ing for the game*/
#game #svgStyle{
    position:absolute;
    filter: blur(5px);
    opacity: .5 ;
    transition: all 1s ease-in-out;
}
/* div blocks for the spaces that are used*/
.space{
    fill: white;
    transition: all .25s ease-in-out;
}
/* hr is the underline under the game name*/
#header hr{
    width: 650px;
    margin: auto;
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}
/* button css that enlarges and changes the button background color on hover*/
#startBtn{
    background-color: #b3b3b3;
    border: none;
    outline: none;
    border-radius: 19px;
    font-size: 30px;
    display: block;
    margin-top: 500px;
    margin-left: auto;
    margin-right: auto;
    height: 60px;
    width: 280px;
    transition: all .5s ease-in-out;
  }
/* hover code for the button to change color and size*/
#startBtn:hover{
    transform: scale(1.25);
    background-color: #80d4ff;
    color: white;
    cursor: pointer;
  }
/*css for input boxes*/
.pName{
    background-color: transparent;
    display: block;
    width:175px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top:275px;
    padding: 15px;
    font-size: 20px;
    border-left: none;
    border-right: none;
    border-top: none;
    transition: all .5s ease-in-out;
}
.pName:hover{
    border-bottom-color:  #8c8c8c;
  
}
.pName:focus{
    border-bottom-color: #3399ff;
}
#firstName{
    float: left;
}
#secondName{
    float: right;
}
#players{
    margin-top: 100px;
    float: left;
}
#turn{
    margin-top: 10px;
}
#turn h2{
    text-align: center;
    font-size: 30px;
}
#turn h1{
    text-align: center;
    font-size: 100px;
}
#turn hr{
    width: 250px;
    margin: auto;
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1), rgba(0, 0, 0, 0));
}
#P1{
    width: 275px;
    padding: 15px;
    background-color: #ff3333;
    transition: all .5s ease-in-out;
}
#P2{
    width: 275px;
    padding: 15px;
    background-color: lightblue;
    transition: all .5s ease-in-out;
}
#players h2{
    font-size: 30px;
}

